.Heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Heading > div {
  background-color: rgba(39, 39, 39, 0.274);
  height: 1px;
  width: 30vw;
  margin: 0 3vmax;
}
.Heading p{
    font-size: 30px;
}