.Videos {
  display: flex;
  width: 90vw;
  margin: auto;
  justify-content: center;
}
.Video  img {
  margin: 0.7vmax;
  transition: all 0.5s;
}
.Video {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Video img:hover{
    box-shadow: 6px 6px 15px rgba(53,53,53,0.553);
    cursor: pointer;
    transform: translate(3px,3px);
}